  /* ------------------ BACKGROUND ------------------ */
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: var(--color-bg);
  }
  
  /* ------------------ HEADER ------------------ */
  
  .intro {
    max-width: 130rem;
    margin: 0 auto;
    padding: 4.8rem 3.2rem 0rem;
  }
  
  .title span {
    background-image: var(--color-bg-title);
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .theme-and-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 120rem;
    margin: 0 auto 2.4rem;
    transition: all 0.25s;
  }